    username: {{ issuer.user.username }}<br>
    register_url: {{ issuer.register_url }}<br>
    update_time: {{ issuer.update_time }}<br>
    create_time: {{ issuer.create_time }}<br>
    ------------------<br>
    <a href="{% url 'website:logout' %}">logout</a><br>
    <a href="{% url 'website:add_color' %}">add color</a><br>
    ------------------<br>
    {% if messages %}
    {% for message in messages %}
    {{message}}<br>
    {% endfor %}
    --------------------<br>
    {% endif %}
    {% for color in issuer.color_set.all %}
        color id: {{ color.color_id }}<br>
        color name: {{ color.color_name }}<br>
        address: {{ color.address.address }}<br>
        confirmed: {% if color.is_confirmed %} confirmed {% else %} Not confirmed {% endif %}<br>
        <a href="{% url 'website:color_detail' color.pk %}">detail</a><br>
        ====<br>
    {% endfor %}
