{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static "home/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "home/css/login.css" %}">
</head>

<body>
  <div id="fullscreen_bg" class="fullscreen_bg"/>
  <div class="container">
    
    <form class="form-signin" action="{% url 'website:login' %}" method="post" id="login-form">
    {% csrf_token %}
      <h1 class="form-signin-heading text-muted">Login</h1>
      <input type="hidden" id="id_next" name="next" value="/website/">
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      {% endif %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      {% for field in form %}
      {% if field.errors %}
      <div class="alert alert-danger">{{ field.label }}{{ field.errors }}</div>
      {% endif %}
      {% endfor %}
      {{ form.username }}
      {{ form.password }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Login
      </button>
      <a class="btn btn-lg btn-success btn-block" href="{% url 'website:signup' %}">
          Sign up
      </a>
    </form>
  
  </div>
</body>

</html>
