{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'adminapp/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'adminapp/css/jquery-ui.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'adminapp/css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'adminapp/css/oss.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'adminapp/js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'adminapp/js/bootstrap.min.js' %}"></script>

    <!-- JQuery UI -->
    <script src="{% static 'adminapp/js/jquery-ui.js' %}"></script>

    <!-- OSS.js -->
    <script src="{% static 'adminapp/js/oss.js' %}"></script>

    <!-- base.js -->
    <script src="{% static 'adminapp/js/base.js' %}"></script>

   

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'adminapp:index'  %}">
                        OSS-Federation Admin
                    </a>
                </li>
                <li>
                    <a href="{% url 'adminapp:issuer_list' %}">Issuer</a>
                </li>
                <li>
                    <a href="{% url 'adminapp:new_issuer_list' %}">New Issuer</a>
                </li>
                <li>
                    <a href="{% url 'adminapp:color_list' %}">Color</a>
                </li>
                <li>
                    <a href="{% url 'adminapp:new_color_list' %}">New Color</a>
                </li>
                <li>
                    <a href="{% url 'adminapp:txs_list' %}">Transactions List</a>
                </li>
                <li>
                    <a href="#">Statiscs</a>
                </li>
                <li>
                    <a href="{% url 'adminapp:logout' %}">Logout</a> 
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">
        {% block content %}
        {% endblock %}
        </div>


        <!-- Page Content -->
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    {% block js %}
    {% endblock js %}
</body>

</html>
