{% extends 'adminapp/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Color List</h3>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text">
                            </div>
                        </div>
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Color ID</th>
                                <th>Color Name</th>
                                <th>Address</th>
                                <th>Issuer</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for color in color_list %}
                                <tr>
                                    <td>{{ color.color_id }}</td>
                                    <td>{{ color.color_name }}</td>
                                    <td>{{ color.address.address }}</td>
                                    <td>{{ color.issuer.user.username }}</td>
                                    <td>
                                        <a href="{% url 'adminapp:color_detail' color.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>

</div>
{% endblock content %}
