{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Issuers List</h3>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="search_box" type="text"><a id="search_btn" href="{% url 'adminapp:issuer_list' %}"class="btn btn-default btn-search">search</a>
                            </div>
                            <div class="col-md-1 col-md-offset-3">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'adminapp:issuer_create' %}"><span class="glyphicon glyphicon-user"> </span> Create new user</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Username</th>
                                <th>Issuer Name</th>
                                <th>Balance</th>
                                <th>Txs count</th>
                                <th>URL</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for issuer in issuer_list %}
                                <tr class="issuer">
                                    <td>{{ issuer.user.username }}</td>
                                    <td>{{ issuer.name }}</td>
                                    <td>
                                    {% for balance in issuer.balance_list %}
                                    <a href="#" class="btn btn-default">{{balance.color}}:{{balance.amount}}</a>
                                    {% endfor %}
                                    </td>
                                    <td>{{ issuer.tx_count }}</td>
                                    <td>{{ issuer.url }}</td>
                                    <td>
                                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-usd"></span></a>
                                        <a href="{% url 'adminapp:issuer_detail' issuer.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                        <a href="{% url 'adminapp:issuer_update' issuer.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a data-href="{% url 'adminapp:issuer_delete' issuer.pk %}" class="btn btn-default btn-delete"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'adminapp/js/issuer_list.js' %}"></script>
{% endblock js %}
