{% load staticfiles %}
{% load template_tag %}
{% load i18n %}

<html>
<head>
  <link rel="stylesheet" href="{% static "accounts/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "accounts/css/login.css" %}">
  <script src="{% static 'adminapp/js/jquery-1.11.0.js' %}"></script>
</head>

<body>
  <div id="fullscreen_bg" class="fullscreen_bg"/>
  <div class="container">
    <form class="form-signin" action="{% url 'accounts:account_login' %}" method="post" id="login-form">
    {% csrf_token %}
      <h1 class="form-signin-heading text-muted">{% trans "Issuer Login" %}</h1>
      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      {% for field in form %}
      {% if field.errors %}
      <div class="alert alert-danger">{{ field.label }}{{ field.errors }}</div>
      {% endif %}
      {% endfor %}
      {{ form.username }}
      {{ form.password }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        {% trans "Login" %}
      </button>
      <a class="btn btn-lg btn-success btn-block" href="{% url 'accounts:account_signup' %}">
        {%  trans "Sign up" %}
      </a>
    </form>
    <form id="language_form" action="{% url 'accounts:set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% settings_value "LOGIN_URL" %}" />
        <select id="lang" name="language">
            <option>{% trans "Select language" %}</option>
            <option  value="en">{% trans "English" %}</option>
            <option  value="zh">{% trans "Chinese" %}</option>
        </select>
    </form>
  </div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    $('#lang').change(function(){
        this.form.submit();        
    });
});
</script>
</html>
