{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Alliance List</h3>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Alliance Address</th>
                                <th>Block Number</th>
                                <th>Computing Power</th>
                            </thead>
                            <tbody>
                                {% for alliance in alliance_list %}
                                <tr class="alliance">
                                    <td>{{ alliance.address }}</td>
                                    <td>{{ alliance.created_block }}</td>
                                    <td>{{ alliance.computing_power }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>
</div>
{% endblock %}


