{% extends 'adminapp/base.html' %}

{% load staticfiles %}
{% load template_tag %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Tx List {% if cur_colors %}{% endif %}</h3>
                <h4>
                    <dfn>
                    {% if cur_colors %} <strong>Color:</strong> {% for color in cur_colors%}{{color}},{% endfor %}{% endif %}
                    {% if cur_issuers %} <strong>Issuer:</strong> {% for issuer in cur_issuers%}{{issuer}},{% endfor %}{% endif %}
                    {% if cur_date_from %} <strong>From:</strong><cur_date_from>{{cur_date_from}}</cur_date_from>, {% endif %}
                    {% if cur_date_to %} <strong>To:</strong><cur_date_to>{{cur_date_to}}</cur_date_to>,{% endif %}
                    </dfn>
                </h4>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="srch_tx_box" size="50" placeholder="transaction..."></input><button class="btn btn-default" id="srch_tx_btn">search</button>
                                <button class="btn btn-default" id="filter_display_btn">Filter</button>
                            </div>
                        </div>
                        <br>
                        <div id="filter_section" class="panel-heading" style="display:none">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="color_filter btn btn-primary btn-block dropdown-toggle" type="button" id="colors_filter" data-toggle="dropdown">Color</button>
                                        <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="colors_filter">
                                            {% for color in colors %}
                                            <li role="presentation"><a class="color_item text-center" role="menuitem" tabindex="-1" data-color={{color}}>{{color}}</a></li>
                                            {% endfor %}
                                        </ul>
                                        <ul id="filter_color" data-color="" style="display:none"></ul>
                                    </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                     <div class="col-md-12">
                                         <button class="addrs_filter btn btn-primary btn-block dropdown-toggle" type="button" id="issuer_filter" data-toggle="dropdown">Issuer</button>
                                         <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="issuer_filter">
                                             {% for issuer in issuers %}
                                             <li role="presentation"><a class="issuer_item text-center" role="menuitem" tabindex="-1" data-issuer={{issuer.pk}}>{{issuer.name}}</a></li>
                                             {% endfor %}
                                         </ul>
                                         <ul id="filter_issuer" data-issuer="" style="display:none"></ul>
                                     </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                      <div class="col-md-12">
                                      <label for="from">From </label>
                                      <input type="text" id="from" name="from">
                                      <label for="to">to</label>
                                      <input type="text" id="to" name="to">
                                      </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btn btn-success btn-block" id="filter_submit">Go</btn>
                                      </div>
                                  </div>
                          </div>
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Transactions</th>
                            </thead>
                            <tbody>
                                {% for tx in txs %}
                                <tr>
                                    <td><a href="#" class="tx" data-id={{ tx.hash }}>{{ tx.hash }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <ul class="pagination">
                                    {% if page_count < 10 %}
                                        <li><a href="#">&laquo;</a></li>
                                            {% for i in page_count|get_range %}
                                                <li><a href="{% url 'adminapp:txs_list' %}?start={{ i|multiply:20|add:1}}&end={{ i|add:1|multiply:20}}{% if cur_colors %}&color={{cur_colors.0}}{% endif %}{% for cur_issuer in cur_issuers %}&issuer={{cur_issuer}}{% endfor %}{% if cur_date_from%}&from={{cur_date_from}}{% endif %}{% if cur_date_to %}&to={{cur_date_to}}{% endif %}">{{i|add:1}}</a></li>
                                            {% endfor %}
                                        <li><a href="#">&raquo;</a></li>
                                    {% else %}
                                        <li><input type="text" id="page_box" data-url="{% url 'adminapp:txs_list' %}"></input>{{cur_page}}/{{page_count}}</li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>

</div> 
<!-- tx_info_dialog -->
<div class="tx_info_block" id="template_tx_info_block" style="display: none">
    <!-- coin direction -->
    <table class="tx_dir_info">
        <tr>
            <td width="30%">
                <div class="ellipsis" id="template_input_addr" style="display: none"></div>
            </td>
            <td width="50px">
                <img class="arrow" src="{% static 'adminapp/img/arrow_right_green.png' %}"></img>
            </td>
            <td width="200px">
                <div id="template_output_addr_money_block" style="display: none">
                    <div class="ellipsis" id="template_output_addr" style="display: inline-block"></div>
                    <div class="btn" id="template_output_money" style="display:inline-block; float: right"></div>
                </div>
            </td>
        </tr>
    </table>
    <!-- confirmation  number and total output -->
    <div style="float:right">
        <div class="btn bg-yellow" id="if_tx_coinbase" style="display: inline-block">coinbase</div>
        <div class="btn" id="if_tx_confirmed" style="display: inline-block"></div>
        <div class="btn bg-aquamarine" id="total_output_money" style="display: inline-block"></div>
    </div>
    <br>
    <!-- summary -->
    <table class="tx_item_info" width="100%">
        <tr >
            <td>
                <a href="#">Size</a>
            </td>
            <td class="tx_summary" id="tx_size"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Receive Time</a>
            </td>
            <td class="tx_summary" id="tx_r_time"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Total Input</a>
            </td>
            <td class="tx_summary" id="tx_input"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Total Output</a>
            </td>
            <td class="tx_summary" id="tx_output"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Fee</a>
            </td>
            <td class="tx_summary" id="tx_fee"></td>
        </tr>
    </table>
</div>
<script>
    var tx_url = "{% url 'adminapp:tx' %}";
    var txs_list_url = "{% url 'adminapp:txs_list' %}";
    var CONFIRMATION_THRESHOLD = 6;

    $(document).ready(function() {
        {% if cur_date_from %}
        $("cur_date_from").html(convert_unix_timestamp_to_data({{cur_date_from}}));
        {% endif %}
        {% if cur_date_to %}
        $("cur_date_to").html(convert_unix_timestamp_to_data({{cur_date_to}}));
        {% endif %}


        $(".tx").on("click", function() {
            get_tx_info(tx_url, $(this).data("id"));
        });

        $("#srch_tx_box").keydown(function(event) {
            var srch_val = $("#srch_tx_box").val();

            if (event.which == 13 && srch_val != "") {
                get_tx_info(tx_url, srch_val);
            }
        });

        $("#srch_tx_btn").on("click", function(event) {
            var srch_val = $("#srch_tx_box").val();

            get_tx_info(tx_url, srch_val);
        });

        $("#page_box").keydown(function(event) {
           var page_val = parseInt($("#page_box").val()); 

           if (event.which == 13 && page_val != "") {
               var begin_index = (page_val - 1) * 20 + 1;
               var end_index = page_val * 20;
               var url = $("#page_box").data("url");

               url = url + "?start=" + begin_index + "&end=" + end_index;
               {% if cur_colors %}
                   url = url +  "&color={{cur_colors.0}}";
               {% endif %}
               {% for cur_issuer in cur_issuers %}
                   url = url + "&issuer={{cur_issuer}}";
               {% endfor %}
               {% if cur_date_from %}
                   url = url + "&from=" + {{cur_date_from}}
               {% endif %}
               {% if cur_date_to %}
                   url = url + "&to=" + {{cur_date_to}}
               {% endif %}

               window.location.href = url;
           }
        });

        $(function() {
            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });

            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });

        $(".color_item").on("click", function(){
           var cur_color = $(this).data("color");

           $("#filter_color").attr("data-color", cur_color);
           $("#colors_filter").html("Color: " + cur_color);
        });

        $(".issuer_item").on("click", function(){
           var cur_issuer_name = $(this).html();
           var cur_issuer_id = $(this).data("issuer");

           $("#filter_issuer").attr("data-issuer", cur_issuer_id);
           $("#issuer_filter").html("Issuer: " + cur_issuer_name);
        });

        $("#filter_display_btn").on("click", function(){
            $("#filter_section").toggle();
        });

        $("#filter_submit").on("click", function(){
            var filter_color = $("#filter_color").data("color");
            var filter_issuer = $("#filter_issuer").data("issuer");
            var filter_date_from = $("#from").val();
            var filter_date_to = $("#to").val();

            var url = txs_list_url + "?";
            var query_data = {};
            var query_string = "";

            if (filter_color != "") {
                query_data["color"] = filter_color;
            }

            if (filter_issuer != "") {
                query_data["issuer"] = filter_issuer;
            }

            if (filter_date_from != "") {
                var date_from_timestamp = convert_to_timestamp(filter_date_from);

                query_data["from"] = date_from_timestamp
            }

            // issuer filter

            if (filter_date_to != "") {
                var date_to_timestamp = convert_to_timestamp(filter_date_to);

                query_data["to"] = date_to_timestamp
            }

            if (query_data["to"] < query_data["from"]) {
                alert("'to' must be larger than 'from'");
                return;
            }

            query_string = encode_query_data(query_data);

            if (query_string != "") {
                url = url + query_string;
                window.location.href = url;
            }
            else {
                alert("empty paramters");
                return
            }
        });
});
</script>
{% endblock %}
