{% extends 'adminapp/base.html' %}

{% load staticfiles %}
{% load template_tag %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Tx List</h3>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="srch_tx_box" size="50" placeholder="transaction..."></input><button class="btn btn-default" id="srch_tx_btn">search</button>
                                <button class="btn btn-default" id="filter_display_btn">Filter</button>
                            </div>
                        </div>
                        <br>
                        <div id="filter_section" class="panel-heading" style="display:none">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="color_filter btn btn-primary btn-block dropdown-toggle" type="button" id="colors_filter" data-toggle="dropdown">Color</button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="colors_filter">
                                            {% for color in colors %}
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'adminapp:txs_list'%}?color={{color}}">{{color}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                     <div class="col-md-12">
                                         <button class="addrs_filter btn btn-primary btn-block dropdown-toggle" type="button" id="issuer_filter" data-toggle="dropdown">Issuer</button>
                                         <ul class="dropdown-menu" role="menu" aria-labelledby="issuer_filter">
                                         </ul>
                                     </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                      <div class="col-md-12">
                                      <label for="from">From </label>
                                      <input type="text" id="from" name="from">
                                      <label for="to">to</label>
                                      <input type="text" id="to" name="to">
                                      </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btn btn-success btn-block" id="filter_submit">Go</btn>
                                      </div>
                                  </div>
                          </div>
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Transactions</th>
                            </thead>
                            <tbody>
                                {% for tx in txs %}
                                <tr>
                                    <td><a href="#" class="tx" data-id={{ tx.hash }}>{{ tx.hash }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <ul class="pagination">
                                    {% if page_count < 10 %}
                                        <li><a href="#">&laquo;</a></li>
                                            {% for i in page_count|get_range %}
                                                <li><a href="{% url 'adminapp:txs_list' %}?start={{ i|multiply:20|add:1}}&end={{ i|add:1|multiply:20}}{% if cur_colors %}&color={{cur_colors.0}}{% endif %}{% for cur_issuer in cur_issuers %}&issuer={{cur_issuer}}{% endfor %}">{{i|add:1}}</a></li>
                                            {% endfor %}
                                        <li><a href="#">&raquo;</a></li>
                                    {% else %}
                                        <li><input type="text" id="page_box" data-url="{% url 'adminapp:txs_list' %}"></input>{{cur_page}}/{{page_count}}</li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>

</div> 
<!-- tx_info_dialog -->
<div class="tx_info_block" id="template_tx_info_block" style="display: none">
    <!-- coin direction -->
    <table class="tx_dir_info">
        <tr>
            <td width="30%">
                <div class="ellipsis" id="template_input_addr" style="display: none"></div>
            </td>
            <td width="50px">
                <img class="arrow" src="{% static 'adminapp/img/arrow_right_green.png' %}"></img>
            </td>
            <td width="200px">
                <div id="template_output_addr_money_block" style="display: none">
                    <div class="ellipsis" id="template_output_addr" style="display: inline-block"></div>
                    <div class="btn" id="template_output_money" style="display:inline-block; float: right"></div>
                </div>
            </td>
        </tr>
    </table>
    <!-- confirmation  number and total output -->
    <div style="float:right">
        <div class="btn bg-yellow" id="if_tx_coinbase" style="display: inline-block">coinbase</div>
        <div class="btn" id="if_tx_confirmed" style="display: inline-block"></div>
        <div class="btn bg-aquamarine" id="total_output_money" style="display: inline-block"></div>
    </div>
    <br>
    <!-- summary -->
    <table class="tx_item_info" width="100%">
        <tr >
            <td>
                <a href="#">Size</a>
            </td>
            <td class="tx_summary" id="tx_size"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Receive Time</a>
            </td>
            <td class="tx_summary" id="tx_r_time"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Total Input</a>
            </td>
            <td class="tx_summary" id="tx_input"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Total Output</a>
            </td>
            <td class="tx_summary" id="tx_output"></td>
        </tr>
        <tr class="tx_item_info">
            <td>
               <a href="#">Fee</a>
            </td>
            <td class="tx_summary" id="tx_fee"></td>
        </tr>
    </table>
</div>
<script>
    var tx_url = "{% url 'adminapp:tx' %}";
    var CONFIRMATION_THRESHOLD = 6;

    $(document).ready(function() {
        $(".tx").on("click", function() {
            get_tx_info(tx_url, $(this).data("id"));
        });

        $("#srch_tx_box").keydown(function(event) {
            var srch_val = $("#srch_tx_box").val();

            if (event.which == 13 && srch_val != "") {
                get_tx_info(tx_url, srch_val);
            }
        });

        $("#srch_tx_btn").on("click", function(event) {
            var srch_val = $("#srch_tx_box").val();

            get_tx_info(tx_url, srch_val);
        });

        $("#page_box").keydown(function(event) {
           var page_val = parseInt($("#page_box").val()); 

           if (event.which == 13 && page_val != "") {
               var begin_index = (page_val - 1) * 20 + 1;
               var end_index = page_val * 20;
               var url = $("#page_box").data("url");

               url = url + "?start=" + begin_index + "&end=" + end_index;
               {% if cur_colors %}
                   url = url +  "&color={{cur_colors.0}}";
               {% endif %}
               {% for cur_issuer in cur_issuers %}
                   url = url + "&issuer={{cur_issuer}}";
               {% endfor %}

               window.location.href = url;
           }
        });

        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });

            $( "#to" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });

        $("#filter_display_btn").on("click", function(){
            $("#filter_section").toggle();
        });

        $("#filter_submit").on("click", function(){
            // compose each filter's value to url string
            // send
        });
});
</script>
{% endblock %}
