{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <h3>Unconfirmed Issuers List</h3>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="search_box" type="text"><a id="search_btn" href="{% url 'adminapp:issuer_list' %}"class="btn btn-default btn-search">search</a>
                            </div>
                        </div>
                    </div> <!-- panel heading close -->

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <th>Issuer Name</th>
                                <th>Email</th>
                                <th>URL</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for issuer in issuer_list %}
                                <tr class="issuer">
                                    <td>{{ issuer.name }}</td>
                                    <td>{{ issuer.email }}</td>
                                    <td>{{ issuer.url }}</td>
                                    <td>
                                        <a data-href="{% url 'adminapp:issuer_accept' issuer.pk %}" class="btn btn-success btn-issuer-accept">Accept</a>
                                        <a data-href="{% url 'adminapp:issuer_delete' issuer.pk %}"class="btn btn-danger btn-issuer-reject">Reject</span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div> <!-- panel close -->
           </div>
        </div>
     </div>

</div>
{% endblock %}


{% block js %}
<script src="{% static 'adminapp/js/unconfirmed_issuer_list.js' %}"></script>
{% endblock js %}
